@model BandsApp.Web.Models.Band

<!DOCTYPE html>
<html>
<head>
    <title>Band Description</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@@picocss/pico@@2/css/pico.min.css">
</head>
<body>
    <h2>@Model.Name</h2>
    <p>@Model.Description</p>
    <img src="@Url.Content(Model.ImagePath)" alt="band image" style="width:300px;" />
    
    <iframe width="560" height="315" src=@Model.VideoUrl title="@Model.Name video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</body>
</html>
